<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create User</title>
  <link rel="stylesheet" href="/css/create_user.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script type="text/javascript" src="/scripts/Password Checker.js" defer></script>
  <script>
    function showAlert(message) {
      alert(message);
      window.location.href = '/users/create-user';
    }
  </script>
</head>
<body>
  <header>
    <nav>
      <a class="navbar-brand" href="https://www.untdallas.edu"><img src="/images/UNTDlogo.png" alt="UNTDlogo"></a>
      <a class="navbuttons" href="/users/getRecords">Records</a>
      <a class="navbuttons" href="/users/create-user">Users</a>
      <a class="navbuttons" href="/pages/headcount.html">Count</a>
      <a class="navbuttons" href="/pages/Reports.html">Reports</a>
      <a class= "navbuttons"href="/users/logout">LogOut</a>
      <figure class="reportdesk">ReportDesk</figure>
      
    </nav>
  </header>
  <div class="container">
    <div class="button-group">
      <a href="/users/create-user" class="active">
        <span>Create User</span>
      </a>
      <a href="/users/manage-user">
        <span>Manage Users</span>
      </a>
    </div>
    <div class="form-container">
      <h1>Create User</h1>
      <form action="/users/create-user" method="POST">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <select name="role" id="role" required>
          <option value="" disabled selected>Role Codes</option>
          
          <%let x=1;%>
          <% Object.entries(roleCodes).forEach(([key, value]) => {%>
          <option value="<%= x++ %>"><%=value.userRole%></option>
          <% }) %>
          
          </select>
        <div class="submit-button">
          <button type="submit" onclick="check()" >Create User</button>
        </div>
      </form>
    </div>
  </div>
  <footer>
    <p>University of North Texas at Dallas</p>
  </footer>
  <% if (typeof message !== 'undefined') { %>
    <script>
      showAlert('<%= message %>');
    </script>
  <% } %>
  
  <script>
    function check() {
         let email = document.getElementById("email").value;
         let password = document.getElementById("password").value;
         const checker = new Check(password, email)
         if(checker.eChecker() != true)
         {
          event.preventDefault() 
          alert(checker.eChecker())
          window.location.reload();
         }

         if(checker.pChecker() != true)
         {
          event.preventDefault() 
          alert(checker.pChecker())
          window.location.reload();
         }
      
                    }
  </script>
</body>
</html>