<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ReportDesk</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header>
        <div><a class="navbar-brand" href="#"><img src="/images/UNTDlogo.png" alt="UNTDlogo"></a></div>
        <div>
            <h1 class="reportdesk">ReportDesk</h1>
        </div>
    </header>

    <main id="Loginbox">
        
        <fieldset id="loginbox">
            <h2 id="Logintext">Login</h2>

            <form action="/users/login" method="POST">

                <div class="email-div">
                    <label id="emailtext" for="email">Email:</label>
                    <input type="text" id="email" name="email">
                </div>

                <br>

                <div class="password-div">
                    <label id="passwordtext" for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>

                <button id="loginbutton" type="submit">Login</button>
                <p id="target"></p>

                
                <p id="traget2"></p>
                <br>
                <a href="/users/password-reset">Forgot Password?</a>
            </form>
        </fieldset>
    </main>
    <footer>
    </footer>
</body>

</html>