<!DOCTYPE html>
<html lang="en">
<head>
  <title>Manage Users</title>
  <link rel="stylesheet" href="/css/manage_user.css">
  <script>
    function showAlert(message) {
      alert(message);
      window.location.href = '/users/manage-user';
    }
  </script>
</head>
<body>
  <header>
    <nav>
      <a class="navbar-brand" href="https://www.untdallas.edu"><img src="/images/UNTDlogo.png" alt="UNTD logo"></a>
      <a class="navbuttons" href="/users/getRecords">Records</a>
      <a class="navbuttons" href="/users/create-user">Users</a>
      <a class="navbuttons" href="/pages/headcount.html">Count</a>
      <a class="navbuttons" href="/pages/Reports.html">Reports</a>
      <figure class="reportdesk">ReportDesk</figure>
      <button> <a href="/pages/index.html"><b>LogOut</b></a></button>
    </nav>
  </header>
  <div class="container">
    <div class="button-group">
      <a href="/users/create-user">
        <span>Create User</span>
      </a>
      <a href="/users/manage-user" class="active">
        <span>Manage Users</span>
      </a>
    </div>
    <div class="form-container">
      <h1>Manage Users</h1>
      <form action="/users/delete-user" method="POST">
        <div class="form-group">
          <label for="email">User Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="submit-button">
          <button type="submit">Delete User</button>
        </div>
      </form>
    </div>
  </div>
  <footer>
    <p>University of North Texas at Dallas</p>
  </footer>
  <% if (typeof message !== 'undefined') { %>
    <script>
      showAlert('<%= message %>');
    </script>
  <% } %>
</body>
</html>