<!DOCTYPE html>
<html lang="en">

<head>
  <title>Records</title>
  <link rel="stylesheet" type="text/css" href="/css/records.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>


  <header>

    <nav>

    <a class="navbar-brand" href="https://www.untdallas.edu"><img src="/images/UNTDlogo.png" alt="UNTDlogo"></a>

    <a class="navbuttons" href="/users/getRecords">Records</a>
    <a class="navbuttons" href="/users/create-user">Users</a>
    <a class="navbuttons" href="/pages/headcount.html">Count</a>
    <a class="navbuttons" href="/pages/Reports.html">Reports</a>
    <a href="/" class="reportdesk">ReportDesk</a>

    </nav>


  </header>


  <h1 class="recordsheader">Records</h1>


<div class="formdiv">

  <form action="/reports/insert-question" method="POST">   
    <div>
      <h2 class="questionhead">Question</h2>
    </div>

    <div class="leftside">

      <div class="cat">

    <select name="categorydrop" id="categorydrop" required>
      <option value="" disabled selected>Category</option>
      <option value="1">General</option>
      <option value="2">Directions</option>
      <option value="3">Scanner</option>
      <option value="4">Technology</option>
    </select>

      </div>

      <div clas="loc">
    <select name="locationdrop" id="locationdrop" required>
      <option value="" disabled selected>Location</option>
      <option value="1">In Person</option>
      <option value="2">Phone</option>
      <option value="3">Online</option>
    </select>

    </div>
    
    <div>
      <input type="date" name="date" />
    </div>
  
    <div class="time">
      <input type="time" name="time" />
    </div>

  

  <div class = "dur">
    <select name="durationdrop" id="durationdrop" required>
      <option value="" disabled selected>Duration</option>
      <option value="1">More than 5 minutes</option>
      <option value="2">Between 5 to 30 minutes</option>
      <option value="3">More than 30 minutes</option>
    </select>

    </div>

    </div>

    <div class="rightside">

      <div class="cour">
      <select name="coursecodedrop" id="coursecodedrop">
      <option value="" disabled selected>Course Code(Optional)</option>
      
      <%let x=1;%>
      <% Object.entries(courseCodes).forEach(([key, value]) => {%>
      <option value="<%= x++ %>"><%=value.courseCode%></option>
      <% }) %>
      
      </select>

    </div>

    <div class="note">
    <textarea placeholder="Notes" name="notestext" id="notestext" maxlength="1000"></textarea>

    
    </div> 

   
    </div>

    <div class="submit">
      <p><input type="submit" value="Submit"></p>
    </div>


  </form>

</div>

<figure>
  <img src="/images/jaghead.png" alt="jaguar"/>
  
  </figure>

<footer>
  <p>University of North Texas at Dallas</p>
</footer>

</body>


</html>