<!DOCTYPE html>
<html lang="en">

<head>
    <title>ReportType</title>
    <link rel="stylesheet" type="text/css" href="/css/report.css">
</head>

<header>

    <nav>
    
    <a class="navbar-brand" href="https://www.untdallas.edu"><img src="/images/UNTDlogo.png" alt="UNTDlogo"></a>
    <a class="navbuttons" href="/users/getRecords">Records</a>
    <a class="navbuttons" href="/users/create-user">Users</a>
    <a class="navbuttons" href="/reports/getHeadcount">Count</a>
    <a class="navbuttons" href="/reports/getReportpage">Reports</a>
    <a class= "navbuttons"href="/users/logout">LogOut</a>
    <figure class="reportdesk">ReportDesk</figure>
    
    
    </nav>
    
    </header>
<body>

    <h2 class="reportdesk">Select a Report Type </h2>
    <div>
    <form id="report" action="/reports/getDaily" method="GET" class="container" class="center">
       <figure class="s1"> <img src="/images/daily.webp" alt="daily">
        <figcaption> Daily <input type="radio" name="radio1" value="1" checked onclick="document.getElementById('report').action='/reports/getDaily';"> </figcaption></figure>
        <figure class="s2"> <img src="/images/monthly.png" alt="monthly" >
            <figcaption> Monthly <input type="radio" name="radio1" value="2" onclick="document.getElementById('report').action='/reports/getMonthly';"> </figcaption></figure>
            <figure class="s3"> <img src="/images/yearly.png" alt="yearly" >
                <figcaption> Yearly <input type="radio" name="radio1" value="3" onclick="document.getElementById('report').action='/reports/getYearly';"> </figcaption></figure>
            <figure class="s4"> <img src="/images/duration.webp" alt="duration" >
                <figcaption> Duration <input type="radio" name="radio1" value="4" onclick="document.getElementById('report').action='/reports/getDuration';"> </figcaption></figure>
            <figure class="s5"> <img src="/images/course.webp" alt="course">
                <figcaption> Course <input type="radio" name="radio1" value="5" onclick="document.getElementById('report').action='/reports/getCourses';"> </figcaption></figure>
            <figure class="s6"> <img src="/images/location.png" alt="location">
                <figcaption> Location <input type="radio" name="radio1" value="6" onclick="document.getElementById('report').action='/reports/getLocation';"> </figcaption></figure>
    
    </div>

    <p><input type="date" name="date" value="" required></p>

    <div>
        <button id="report" type="submit">View</button>
    </form>
       <button><a href="/users/import">Import</a></button>
    </div>

</body>


</html>