html {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1051A0;
  margin: auto;
  margin-left: 0%;
  padding: 1.5em;
}

.navbuttons {
  text-decoration: none;
  color: white;
  padding: 1em 1em;
  font-size: 1.3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.navbuttons:hover {
  background-color: #426bba;
}

.navbar-brand img {
  width: 12em;
  margin-left: 20px;
  margin-top: 5px;
}

.reportdesk {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-width: 10%;
}

.button-group div {
  margin: 0px;
  border: 3px solid black;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1.3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.button-group a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  background-color: #426bba;
}

.button-group div:hover {
  background-color: #426bba;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

#userbox {
  width: 50%;
  margin: 20px auto; /* Adjust the margin as needed */
  padding: 20px;
  background-color: #073875;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.user-info p {
  color: white;
  font-size: 1.2em;
}

.user-info input[type="text"],
.user-info select {
  font-size: 20px;
  width: 12em;
  margin-top: 1em;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
}

.user-info input[type="text"]:hover,
.user-info select:hover {
  background-color: rgb(186, 234, 186);
  color: #073875;
}

.viewable-reports h3 {
  color: white;
  font-size: 1.5em;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.input-div label {
  color: white;
  font-size: 1.2em;
}

button {
  background-color: white;
  color: #1051A0;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
}

button:hover {
  background-color: #426bba;
  color: white;
}

.section-divider {
  border: none;
  border-top: 3px solid #073875;
  margin: 20px 0;
  width: 100%;
}

footer p {
  background-color: #1051A0;
  color: white;
  padding: 1.5em;
  text-align: center;
  margin-top: 100px;
}

