html {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(/images/jaghead.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  
  body{
    margin: 0px;
  }
  h2 {color: #0f0000;
    text-align: center;}


div{ display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div img {
    width: 200px;
    height: 200px;
    border: rgb(5, 5, 5);
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin: 20px;
    transition: 400ms;
    padding: 20px 30px;
}
div img:hover{
    transform: scale(1.03);
    background-color: black;
}
p{
    color: #0f0000;
    text-align: center;
    padding: 12px 20px;
    
}
.flex-parent {
    display: flex;
}
.jc-center{
    justify-content: center;
}
button.margin-right{
    margin-right: 3%;
    background-color: black;
	border: none;
	color: white;
    padding: 12px 20px;
}
button:hover{ 
    cursor: pointer;
    

}
a {
	color: black;
    border: #0f0000;
	padding: 20px 30px;
	text-align: center;
}
a:hover{
    color: white;
}