
  body {
	margin: 0;
	
}
section {
	box-sizing: border-box;
    display: conter;

	justify-content: space-between;
	padding: 20px;
}
p {
	color: white;
    border: #073875;
    background-color: #073875;
	font-family: Arial, sans-serif;
	text-align: center;
    border-style: solid;
   
}
a {
	color: white;
	text-decoration: none;
	text-align: center;
}

input [type=submit]{ 
    border-color: solid #073875;
    background-color: #073875;
    padding: auto;
    box-sizing: border-box;
    cursor: pointer;
    float: right;
}
input [type=submit]{
    background-color: #073875;
}

input[type=button], input[type=submit], input[type=file], input[type=ser_file]{
   color: white;
    background-color: #073875;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor:pointer;
    text-align: center;
}
