HTML{
	width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(/images/jaghead.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
	color: white;
}
body {
	margin: 0;
	font-family: Arial, sans-serif;
	padding: 0;
  }
h1 {
	font-size: 28px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-align: center;
}
fieldset {
    margin: 0 auto;
	border: 2px solid 073875;
	border-radius: 5px;
	padding: 20px;
    text-align: center;
	width: 300px;
    background-color: #073875;
}
h2 {
	font-size: 24px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-align: center;
}
p {
	font-family: Arial, sans-serif;
	text-align: center;
}
a {
	text-decoration: none;
	text-align: center;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
	background-color: transparent;
	color: white;
}
a:active {
	text-decoration: underline;
	background-color: transparent;
	color: white;
}